<h5>Pipes</h5>
<p>Titulo: {{livro.titulo|camelCase}}</p>
<p>Estrelas: {{livro.rating|number:'2.1-2'}}</p>
<p>Paginas: {{livro.numeroPaginas|number}}</p>
<p>Preço: {{livro.preco|currency:'BRL':true}}</p>
<p>Data de lançamento: {{livro.dataLancamento|date:'dd-MMM-yyyy'}}</p>
<p>URL: {{livro.url}}</p>
<br>
<p>Livro: {{livro|json}}</p>
<h5>Filtro</h5>
<input type="text" [(ngModel)]="filtro">
<br>
<input type="text" #elementoText>
<button (click)="addCurso(elementoText.value)" >Adicionar</button>
<h5>Maneira Correta Filtros</h5>
<ul>
    <li  *ngFor="let number of obterCursos()">{{number}}</li>
</ul>

<h5>Pipe Impuro</h5>
<ul>
    <li  *ngFor="let number of numbers|filtroArrayImpuro:filtro">{{number}}</li>
</ul>
<h5>Pipe Puro</h5>
<ul>
    <li  *ngFor="let number of numbers|filtroArray:filtro">{{number}}</li>
</ul>
<h5>Valores Async</h5>
<p>{{valorAsync|async}}</p>