<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <div class="col-sm-12">
            <label for="nome">Nome</label>
        </div>
        <div class="col-sm-12">
            <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
        </div>
        <div *ngIf="verificaValidTouch('nome')" class="alert alert-danger">
            -Nome é obrigatorio!<br>
            -Deve possuir entre 3 e 20 caracteres.

        </div>


    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <label for="email">Email</label>
        </div>
        <div class="col-sm-12">
            <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
        </div>
        <div *ngIf="verificaValidTouch('email')" class="alert alert-danger">
            -Email é obrigatorio!<br>
            -O email deve ser valido!.

        </div>
    </div>


    <div style="padding: 10px;">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button class="btn btn-primary" (click)="resetarFormulario()">Cancelar</button>
    </div>

    <app-form-debug [form]="formulario"></app-form-debug>
</form>
