<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <div class="col-sm-12">
            <label for="nome">Nome</label>
        </div>
        <div class="col-sm-12">
            <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
        </div>
        <div *ngIf="verificaValidTouch('nome')" class="alert alert-danger">
            -Nome é obrigatorio!<br>
            -Deve possuir entre 3 e 20 caracteres.

        </div>


    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <label for="email">Email</label>
        </div>
        <div class="col-sm-12">
            <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
        </div>
        <div *ngIf="verificaValidTouch('email')" class="alert alert-danger">
            -Email é obrigatorio!<br>
            -O email deve ser valido!.

        </div>
    </div>
    <div class="endereco" formGroupName="endereco">
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">CEP</label>
                <input type="text" class="form-control" id="cep" placeholder="Cep" formControlName="cep">
            </div>
            <div class="col-md-3">
                <label class="control-label">Numero</label>
                <input type="text" class="form-control" id="cep" placeholder="Numero" formControlName="numero">
            </div>
            <div class="col-md-6">
                <label class="control-label">Rua</label>
                <input type="text" class="form-control" id="cep" placeholder="Rua" formControlName="rua">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Complemento</label>
                <input type="text" class="form-control" id="cep" placeholder="Complemento"
                    formControlName="complemento">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label class="control-label">Bairro</label>
                <input type="text" class="form-control" id="cep" placeholder="Bairro" formControlName="bairro">
            </div>
            <div class="col-md-4">
                <label class="control-label">Cidade</label>
                <input type="text" class="form-control" id="cep" placeholder="Cidade" formControlName="cidade">
            </div>
            <div class="col-md-3">
                <label class="control-label">Estado</label>
                <input type="text" class="form-control" id="cep" placeholder="Estado" formControlName="estado">
            </div>
        </div>

    </div>


    <div style="padding: 10px;">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button class="btn btn-primary" (click)="resetarFormulario()">Cancelar</button>
    </div>

    <app-form-debug [form]="formulario"></app-form-debug>
</form>