<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <div class="col-sm-12">
            <label for="nome">Nome</label>
        </div>
        <div class="col-sm-12">
            <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
        </div>
        <div *ngIf="verificaValidTouch('nome')" class="alert alert-danger">
            -Nome é obrigatorio!<br>
            -Deve possuir entre 3 e 20 caracteres.

        </div>


    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <label for="email">Email</label>
        </div>
        <div class="col-sm-12">
            <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
        </div>
        <div *ngIf="verificaValidTouch('email')" class="alert alert-danger">
            -Email é obrigatorio!<br>
            -O email deve ser valido!.

        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <label for="email">Confirmar Email</label>
        </div>
        <div class="col-sm-12">
            <input type="text" class="form-control" id="confirmaEmail" placeholder="Confirmar Email" formControlName="confirmaEmail">
        </div>
        <div *ngIf="!formulario.get('confirmaEmail')?.valid" class="alert alert-danger">
            -Os Emails não conferem!<br>
        </div>
    </div>

    <div class="endereco" formGroupName="endereco">
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">CEP</label>
                <input type="text" class="form-control" id="cep" placeholder="Cep" formControlName="cep"
                    (blur)="consultarCep()">
            </div>
            <div class="col-md-3">
                <label class="control-label">Numero</label>
                <input type="text" class="form-control" id="cep" placeholder="Numero" formControlName="numero">
            </div>
            <div class="col-md-6">
                <label class="control-label">Rua</label>
                <input type="text" class="form-control" id="cep" placeholder="Rua" formControlName="rua">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Complemento</label>
                <input type="text" class="form-control" id="cep" placeholder="Complemento"
                    formControlName="complemento">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label class="control-label">Bairro</label>
                <input type="text" class="form-control" id="cep" placeholder="Bairro" formControlName="bairro">
            </div>
            <div class="col-md-4">
                <label class="control-label">Cidade</label>
                <input type="text" class="form-control" id="cep" placeholder="Cidade" formControlName="cidade">
            </div>
            <div class="col-md-3">
                <label class="control-label">Estado</label>
                <select class="form-control" id="cep" formControlName="estado">
                    <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{estado.nome}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Cargo</label>
                <select id="cargo" class="form-control" formControlName="cargo">
                    <option *ngFor="let cargo of cargos ">{{cargo.nome}}</option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="control-label">Pais</label>
                <select class="form-control" formControlName="pais">
                    <option *ngFor="let pais of paises | async" [value]="pais.nome_pais">{{pais.nome_pais}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label class="control-label">News Letter</label>
                <div class="col-sm-4" *ngFor="let item of newsOpcoes">
                    <label class="radio-inline">
                        <input type="radio" [value]="item.valor" formControlName="newsletter">{{item.desc}}
                    </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" formControlName="checkbox">
                    <label class="form-check-label" for="flexCheckDefault">
                        Default checkbox
                    </label>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <label for="">CheckBox Dinamico</label>
        <div class="col-md-2" *ngFor="let opcao of checkbox_dinamico">
            <input type="radio" >{{opcao.valor}}
        </div>
    </div>


    <div style="padding: 10px;">
        <button type="submit" class="btn btn-primary" [disabled]="!validarFormulario()">Salvar</button>
        <button class="btn btn-primary" (click)="resetaForm()">Cancelar</button>

    </div>

    <app-form-debug [form]="formulario"></app-form-debug>
</form>
<button class="btn btn-primary" (click)="setarCargo()">Setar</button>