<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Always expand</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="cursos">Cursos</a>
          </li>
        </ul>
        <form role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
<div class="b-example-divider" style="height: 3rem; background-color: black;"></div>
<app-pipes class="modal modal-sheet position-static d-block bg-secondary py-5"></app-pipes>
<div class="b-example-divider" style="height: 3rem; background-color: black;"></div>
<app-criar-algo-service class="modal modal-sheet position-static d-block bg-secondary py-5"></app-criar-algo-service>
<div class="b-example-divider" style="height: 3rem; background-color: black;"></div>
<app-cservice class="modal modal-sheet position-static d-block bg-secondary py-5"></app-cservice>
<div class="b-example-divider" style="height: 3rem; background-color: black;"></div>
<app-diretivas-customizadas class="modal modal-sheet position-static d-block bg-secondary py-5"></app-diretivas-customizadas>
<div class="b-example-divider" style="height: 3rem; background-color: black;"></div>
<app-diretiva-ng-content class="modal modal-sheet position-static d-block bg-secondary py-5"><div class="titulo">Titulo</div> <app-diretiva-ngif class="corpo"></app-diretiva-ngif></app-diretiva-ng-content>
<div class="b-example-divider" style="height: 3rem; background-color: black;"></div>
<app-operador-elvis class="modal modal-sheet position-static d-block bg-secondary py-5"></app-operador-elvis>
<div class="b-example-divider" style="height: 3rem; background-color: black;"></div>
<app-diretiva-ngstyle class="modal modal-sheet position-static d-block bg-secondary py-5"></app-diretiva-ngstyle>
<div class="b-example-divider" style="height: 3rem; background-color: black;"></div>
<app-diretiva-ngclass class="modal modal-sheet position-static d-block bg-secondary py-5"></app-diretiva-ngclass>
<div class="b-example-divider" style="height: 3rem; background-color: black;"></div>
<app-diretiva-ngfor class="modal modal-sheet position-static d-block bg-secondary py-5"></app-diretiva-ngfor>
<div class="b-example-divider" style="height: 3rem; background-color: black;"></div>
<app-diretiva-ngswitch class="modal modal-sheet position-static d-block bg-secondary py-5"></app-diretiva-ngswitch>
<div class="b-example-divider" style="height: 3rem; background-color: black;"></div>
<app-diretiva-ngif class="modal modal-sheet position-static d-block bg-secondary py-5"></app-diretiva-ngif>
<div class="b-example-divider" style="height: 3rem; background-color: black;"></div>
<app-firt-component class="modal modal-sheet position-static d-block bg-secondary py-5"></app-firt-component>
<div class="b-example-divider" style="height: 3rem; background-color: black;"></div>
<app-cursos class="modal modal-sheet position-static d-block bg-secondary py-5"></app-cursos>
<div class="b-example-divider" style="height: 3rem; background-color: black;"></div>
<app-data-binding class="modal modal-sheet position-static d-block bg-secondary py-5"></app-data-binding>
<div class="b-example-divider" style="height: 3rem; background-color: black;"></div>
<app-ciclo [valorInicial]="valor" *ngIf="!deletar" class="modal modal-sheet position-static d-block bg-secondary py-5"></app-ciclo>
<button class="btn btn-primary" (click)="mudarValor()">Adicionar</button>
<button class="btn btn-primary" (click)="destruirCiclo()">Destruir</button>
<div class="b-example-divider" style="height: 3rem; background-color: black;"></div>
<div class="modal modal-sheet position-static d-block bg-secondary py-5"></div>

