<mat-card>
  <mat-card-title>{{title}}</mat-card-title>
  <form>
    <mat-form-field>
        <input matInput type="text" placeholder="Name"
        [(ngModel)]="product.name" name="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Price"
       [(ngModel)]="product.price" name="price">
      </mat-form-field>
  </form>
  
  <button *ngIf="title == 'New Product'" mat-raised-button (click)="cadastrar()" color="primary">Save</button>
  <button *ngIf="title == 'Edit Product'" mat-raised-button (click)="Editar()" color="primary">Edit</button>
  <button mat-raised-button (click)="voltar()">Cancel</button>
</mat-card>
