<section class="container">
  <header class="header d-flex">
    <div class="buscar-pensamentos">
      <input type="search"
        class="filtro"
        placeholder="O que voce proucura?"
        autofocus
        [(ngModel)]="filtro"
        (keyup)="onSearch()"
      >
      <button class="botao" (click)="onSearch()">Pesquisar</button>
    </div>
      <h2 class="ff-inter">Meu Mural</h2>
      <button [routerLink]="['novoPost']" class="botao">Adicionar Postagem</button>
  </header>
</section>
<div class="mural" *ngIf="listaDePostagens.length > 0,else semPostagens">
    <div *ngFor="let postagem of listaDePostagens">
      <div class="pensamento {{ postagem.modelo }} ff-roboto-mono "[ngClass]="larguraPostagem(postagem)">
        <img src="../../../../assets/Imagens do curso/{{postagem.modelo}}.png" alt="Aspas coloridas">
        <p class="conteudo">{{postagem.conteudo}}</p>
        <p class="autoria">{{postagem.autoria}}</p>
        <div class="acoes">
          <button class="botao-editar" routerLink="editarPost/{{postagem.id}}">
            <img src="../../../../assets/Imagens do curso/icone-editar.png" alt="">
          </button>
          <button class="botao-excluir"  routerLink="excluirPost/{{postagem.id}}">
            <img src="../../../../assets/Imagens do curso/icone-excluir.png" alt="">
          </button>
          <button class="botao-favorito" (click)="onFavorito(postagem)">
            <img src="../../../../assets/Imagens do curso/coracao-{{validarBotaoFavorito(postagem)}}.png" alt="">
          </button>
        </div>
    </div>
    </div>
</div>
<app-botao-pagina [thereAreMorePosts]="thereAreMorePosts" (click)="carregarMaisPostagens()">

</app-botao-pagina>
<ng-template #semPostagens>
    <div class="ff-inter sem-pensamentos">
      <p>Nao ha postagens!</p>
    </div>
</ng-template>

